<div class="top-section">
    <div class="driver-info-field">
        <div class="driver-img-container">
            
        </div>
        <div class="driver-info">
            <p class="driver-name">HAM</p>
            <p class="driver-position">P4</p>
        </div>
    </div>
    <div class="speed-info-field">
        <div class="gear-and-rms-field">
            <img src="https://www.svgrepo.com/show/286706/circumference-circle.svg" alt="" class="meter">
            <p class="gear">3</p>
            <!--<p class="rms">10808</p>-->
        </div>
        <div class="speed-field">
            <p class="speed-value">344</p>
            <p class="speed-unit">km/h</p>
        </div>
    </div>
    <div class="tyre-info-field">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/F1_tire_Pirelli_PZero_Red.svg/180px-F1_tire_Pirelli_PZero_Red.svg.png" alt="">
        <p class="tyre-laps">10</p>
    </div>
</div>
<div class="bottom-section">
    <div class="current-lap-section">
        <div class="sectors-graph">
            <div class="sector">
                <div class="sector-graph">
                    <div class="sector-line"></div>
                    <div class="sector-line"></div>
                    <div class="sector-line"></div>
                    <div class="sector-line"></div>
                    <div class="sector-line"></div>
                    <div class="sector-line"></div>
                </div>
                <div class="sector-time">34,456</div>
            </div>
            <div class="sector">
                <div class="sector-graph">
                    <div class="sector-line"></div>
                    <div class="sector-line"></div>
                    <div class="sector-line"></div>
                    <div class="sector-line"></div>
                    <div class="sector-line"></div>
                    <div class="sector-line"></div>
                </div>
                <div class="sector-time">34,456</div>
            </div>
            <div class="sector">
                <div class="sector-graph">
                    <div class="sector-line"></div>
                    <div class="sector-line"></div>
                    <div class="sector-line"></div>
                    <div class="sector-line"></div>
                    <div class="sector-line"></div>
                    <div class="sector-line"></div>
                </div>
                <div class="sector-time">34,456</div>
            </div>
        </div>
    </div>
    <div class="previous-laps-section"></div>
</div>
