<div class="graphic-header"></div>
<div class="graphic-list">
    @for (item of this.drivers; track $index) {
        <div class="graphic-driver-field">
            <p class="driver-position">13</p>
            <img class="driver-team-logo" src="https://i.pinimg.com/originals/4c/ab/f1/4cabf11ca2754891d4d9d20326eca835.png" alt="">
            <p class="driver-shortname">LEC</p>
            <p class="driver-gap">+42.376</p>
            <p class="driver-tyre-symbol">M</p>
        </div>
    }
    

</div>
